# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt


*.log
*.log.*
*.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# logs
/log

# IDE stuff
.idea/
*.iml
.fleet/

/temp/

Bot_program/credentials.json
